@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 60px;
    border-bottom: 2px solid white;
}

.logo h3, .logo h1 {
    display: inline;
}

.logo a h3 {
    border: 2px solid white;
    padding: 2px;
}
.logo a {
    cursor: pointer;
    color: white;
    text-decoration: none;

}

.logo a:hover h3{
    transition: all 0.3s ease 0;
    color: black;
    background-color: white;
}

.nav-list li {
    display: inline-block;
    margin: 0 50px;
}

.nav-list li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease all;
    padding: 9px 31px;
    font-weight: 800;
    border: solid 1px white;
    border-radius: 50px;
    
}

.nav-list li a:hover{
    border: solid white 1px;
    border-radius: 50px;
    padding: 9px 31px;
    color:black;
    background-color: white;
}

.banner {
    width: 100%;
    background-image: url(../images/layer1.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y:  -20px;
    height: 550px;
    padding-left: 60px;
    padding-top: 350px;
    margin-bottom: 50px;
    border-bottom: 1px solid black;


}

.banner h1 {
    border: none;
    background-color: white;
    color: black;
    width:fit-content;
    padding: 10px 20px;
    font-weight: 800;

}

.banner h1:hover {
    border: solid white 1px;
    background-color: black;
    color: white;
    cursor: pointer;
}
footer {
    background-color: black;
    color: white;
    height: 200px;
}

footer h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-left: 30px;
}

footer .subscribe form input {
    margin-top: 30px;
    margin-left: 30px;
    height: 30px;
    width: 65%;
    border: 2px white solid;
    border-radius: 50px;
}

footer .subscribe form a {
    text-decoration: none;
    margin-left: 60px;
    color: white;
    border : solid 1px white;
    border-radius: 50px;
    padding: 9px 25px;
}

footer .subscribe form a:hover {
    transition: all 0.3s ease 0;
    border: solid 1px white;
    background-color: white;
    color: black;

}

main h2 {
    margin-left: 40px;
    font-size: 70px;
}

main h2 a {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 3px solid black;
    border-radius: 50px;
    padding: 9px 25px;
}

main h2 a:hover {
    color: black;
    background-color: white;
    border: 3px solid black;
    transition: all 0.3 ease 0;

}

.text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    width: 80%;
    margin: 0 auto;
    
}

#left-side {
    width: 80%;
    padding: 30px 30px;
    height: 80%;
    border: 2px solid black;
    margin-right: 30px;
    font-size: 30px;
    overflow: scroll;


}

#css-code {
    height: 80%;
    border: 2px solid black;
    overflow: scroll;
}

#css-code h3 {
    font-size: x-large;
    text-align: center;
    margin-bottom: 80px;
}

#css-code p {
    padding-left: 10px;
}